/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    font-family: "Oswald", sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
}
.main-content{
  margin-top: 100px;
}

/* Configura o body para usar flexbox e permitir que o conteúdo principal ocupe o espaço restante */
body {

    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Estiliza o container principal que envolve o conteúdo e o rodapé */
#main-content {
    flex: 1; /* Faz o conteúdo principal crescer para preencher o espaço restante */
}

/* Estiliza o botão do menu */
.menu-button {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.6rem;
    text-align: center;
    display: inline-block;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.menu-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.3);
    transition: transform 0.3s;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.menu-button:hover::before {
    transform: translate(-50%, -50%) scale(1);
    text-decoration: none;
}

.menu-button:hover {
    background-color: #6d1616;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

/* Estiliza o cabeçalho */
header {
    background-color: #6d1616;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Estiliza a logo dentro do cabeçalho */
header .logo img {
    width: 150px;
    height: 90px;
}

/* Estiliza os links de navegação dentro do cabeçalho */
header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Estiliza o rodapé */
footer {
    background-color: #6d1616;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    position: relative; /* Manter a estrutura do rodapé */
    width: 100%; /* Garante que o rodapé ocupe toda a largura da tela */
}

/* Estiliza as seções dentro do rodapé */
.footer-section {
    flex: 1;
    padding: 10px;
}

.contact-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px white solid;
}

.social-media {
    text-align: center;
    border-right: 1px white solid;
}

.social-media a {
    margin: 0 10px;
    color: white;
}

.social-media img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.social-media img:hover {
    transform: scale(1.1);
}

.linha1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 200px;
    height: 140px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

.profile-info {
    font-size: 18px;
    color: #333;
}

.hidden {
    display: none;
}

button {
    background-color: #6d1616;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5a0e0e;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.d-none {
    display: none;
    display: flex;
    flex-direction: column;
}

#user-menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

#login-menu {
    display: flex;
    align-items: center;
}
nav{
    display: flex;
}

.esp{
    background: none;
    border: none;
}

.textoinicial h1{
    color: #6d1616;
    font-size: 3rem;
    text-align: center;
}

.historia {
    gap: 10px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

p{
    width: 500px;
}

.item{
    display: flex;
    margin: auto;
    justify-content: space-between;
    gap: 5em;
}

.item2{
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    justify-content: space-between;
    gap: 5em;
    margin-top: 50px;
}

.item  p{
    display: flex;
    margin: auto;
    text-align: center;
}

.item2  p{
    display: flex;
    margin: auto;
    text-align: center;
}



.img {
    border-radius: 5px;
    width: 700px;
    height: 400px;
    border-radius: 10px;
}








































/* .inicio{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.textoinicial h1{
    
    color: #6d1616;
    font-size: 3rem;
    text-align: center;
}

.inicial{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    gap: 10px;
    margin-top: 100px;

}
.inicial .img1{
    box-shadow:4px 9px grey;
    border-radius: 10px;
    background-image: url(../img/historia/1.jpg);
    height:70vh;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.text1{
    line-height: 70px;
    width: 50%;
    color: #6d1616;
    display: flex;
    font-size:x-large;
    text-align: center;
    align-items: center;
}

.img2{
    background-image: url(../img/historia/3.jpg);
    width:  50%;
    height: 70vh;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 9px grey;
} */