@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Platypi", serif;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    position: relative;
}

.menu-button {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.6rem;
    text-align: center;
    display: inline-block;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.menu-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.3);
    transition: transform 0.3s;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.menu-button:hover::before {
    transform: translate(-50%, -50%) scale(1);
    text-decoration: none;
}

.menu-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
header {
  background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: padding 0.3s ease, background-color 0.3s ease-in-out;
}

.logo img {
    height: 100px;
    transition: height 0.3s ease;
}
    header nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }

    header nav a:hover {
        text-decoration: underline;
    }

    .hero {
        background-image: url(../img/image1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-text h1 {
        color: #fff;
        
        text-shadow: 8px 10px 5px rgba(0, 0, 0, 0.5);
        font-size: 6rem;
        text-align: center;
        margin: 0;
    }

    .gallery {
        padding: 20px;
        text-align: center;
    }

    .gallery h2 {
        margin-bottom: 20px;
    }

    .gallery-images {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .gallery-images img {
        max-width: 200px;
        height: auto;
        border-radius: 8px;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .gallery-images img:hover {
        transform: scale(1.05);
    }

    .history, .tickets, .curiosities {
        padding: 20px;
        background-color: #f4f4f4;
        margin: 20px 0;
        border-radius: 10px;
    }

    .history h2, .tickets h2, .curiosities h2 {
        color: #6d1616;
    }

    .tickets button {
        background-color: #6d1616;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .tickets button:hover {
        background-color: #5b1414;
    }

    .lightbox {
        display: none; /* Inicialmente oculto */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
        justify-content: center;
        align-items: center;
    }

    .lightbox-content {
        max-width: 90%;
        max-height: 90%;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover {
        color: #caa055;
    }



    .location-history {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0;
        gap: 10px;
    }
    .location{
        height: 100vh;
        width: 95vw;
        margin: auto;
    }
    .location .map-container{
        height:90vh;
        width: 90vw;
        margin: auto;
    }
    .location .map-container iframe{
        height: 90vh;
        width: 90vw;
    }
    
    .location, .additional-content {
        background-color: #f4f4f4;
        padding: 20px;
        margin-left: 20px;
        border-radius: 10px;
    }
    .history{
        width: 100%;
        margin: auto;
    }
    .additional-content{
        margin: auto;
        width: 100%;
    }
    .map-container {
        width: 100%;
        height: 300px;
        overflow: hidden;
        border-radius: 8px;
    }
    
    .map-container iframe {
        width: 100%;
        height: 100%;
        border: 0;
        
    }
    
    .history h2, .additional-content h2, .location h2 {
        color: #6d1616;
    }
    
    footer {
        background-color: #6d1616;
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    
    .footer-section {
        flex: 1;
        padding: 10px;
    }
    
    .contact-info {
        text-align: left;
        height: 10vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px white solid;
    }
    
    .social-media {
        text-align: center;
        border-right: 1px white solid;
        height: 10vh;
    }
    
    .social-media a {
        margin: 0 10px;
        color: white;
    }
    
    .social-media img {
        width: 24px;
        height: 24px;
        transition: transform 0.3s;
    }
    
    .social-media img:hover {
        transform: scale(1.1);
    }
    .linha1{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .logo img {
        width: 200px;
        height: 140px;
    }
    
.d-none {
    display: none;
    display: flex;
    flex-direction: column;
}

#user-menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

#login-menu {
    display: flex;
    align-items: center;
}
nav{
    display: flex;
}

.esp{
    background: none;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between; /* Distribui os elementos nas extremidades do contêiner */
    width: 100%; /* Garante que o contêiner ocupe toda a largura da página */
    max-width: 1200px; /* Limita a largura máxima do contêiner, ajuste conforme necessário */
    padding: 0 20px; /* Espaçamento interno nas laterais do contêiner */
    box-sizing: border-box; /* Inclui padding na largura total do contêiner */
}

.img2 {
    max-width: 100%; /* Ajusta a largura da imagem, você pode modificar conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}   

.container {
    display: flex;
    justify-content: space-between; /* Distribui os elementos nas extremidades do contêiner */
    width: 80%; /* Ajusta a largura do contêiner para 80% da largura da tela */
    max-width: 1200px; /* Limita a largura máxima do contêiner */
    padding: 20px; /* Adiciona espaçamento interno ao contêiner */
    box-sizing: border-box; /* Inclui padding na largura total do contêiner */
    background-color: white; /* Adiciona uma cor de fundo ao contêiner para melhor visualização */
    border-radius: 8px; /* Adiciona bordas arredondadas ao contêiner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil ao contêiner */
}

.img1 {
    max-width: 100%; /* Ajusta a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.texto1 {
    max-width: calc(100% - 120px); /* Ajusta a largura máxima do texto, levando em consideração a largura da imagem e o padding */
    margin: 0; /* Remove margens padrão do h1 */
    padding: 0; /* Remove preenchimento padrão do h1 */
}

.container2 {
    display: flex;
    justify-content: space-between; /* Distribui os elementos nas extremidades do contêiner */
    width: 100%; /* Garante que o contêiner ocupe toda a largura da página */
    max-width: 1200px; /* Limita a largura máxima do contêiner */
    padding: 0 20px; /* Espaçamento interno nas laterais do contêiner */
    box-sizing: border-box; /* Inclui padding na largura total do contêiner */
}

.img2 {
    max-width: 100%; /* Ajusta a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.texto2 {
    max-width: calc(100% - 120px); /* Ajusta a largura máxima do texto, levando em consideração a largura da imagem e o padding */
    margin: 0; /* Remove margens padrão do h1 */
    padding: 0; /* Remove preenchimento padrão do h1 */
}